files: ^demo/
repos:
  - repo: local
    hooks:
      - id: mypy-checks
        name: MyPy Checks
        entry: bash -c 'cd demo && hatch run types:check-mypy'
        language: system
      - id: robotidy-checks
        name: Robotidy Checks
        entry: bash -c 'cd demo && hatch run types:check-robotidy'
        language: system
        files: .*\.(robot|resource)$
      - id: robocop-checks
        name: Robocop Checks
        entry: bash -c 'cd demo && hatch run types:check-robocop'
        language: system
        files: .*\.(robot|resource)$
      - id: robotcode-analyze
        name: Robotcode Analyze
        entry: bash -c 'cd demo && hatch run analyze'
        language: system
        files: .*\.(robot|resource)$
