paths = ["."]
name = "My RobotCode Example Tests"

[metadata]
"ci run" = { expr = "environ.get('CI', 'unknown')" }
"os" = { expr = "platform.version()" }
"architecture" = { expr = "platform.architecture()" }
"python-version" = { expr = "platform.python_version()" }

[profiles.webkit.variables]
BROWSER = "webkit"

[profiles.firefox.variables]
BROWSER = "firefox"

[profiles.chromium.variables]
BROWSER = "chromium"

[profiles.test-env.extend-variables]
PORT = "3000"

[profiles.dev-env.extend-variables]
PORT = "3001"

[profiles.headless.extend-variables]
HEADLESS = "True"

[profiles.headfull.extend-variables]
HEADLESS = "False"

[profiles.webkit]
hidden = true

[profiles.firefox]
hidden = true

[profiles.chromium]
hidden = true

[profiles.test-env]
hidden = true

[profiles.dev-env]
hidden = true

[profiles.headless]
hidden = true

[profiles.headfull]
hidden = true

[profiles.default]
description = "default profile for all tests on local machine"
inherits = ["chromium", "headfull"]

[profiles.regression]
description = "headfull regression tests"
inherits = ["dev-env", "headfull"]
includes = ["regression"]

[profiles.test]
description = "headfull run on test env with firefox"
inherits = ["test-env", "firefox", "headfull"]

[profiles.dev]
description = "headfull run on dev env with chrome"
inherits = ["dev-env", "chromium", "headfull"]

[profiles.dev.variables]
PORT = "3001"
APP_TITLE = "Development: Todo App"
APP_HEADER = "Development Environment"
APP_COLOR = "bg-blue-400"

[profiles.ci-test]
description = "ci run on test env"
enabled = { if = 'environ.get("CI") == "true"' }
inherits = ["webkit", "test-env", "headless"]

[profiles.ci-dev]
description = "ci run on dev env"
enabled = { if = 'environ.get("CI") == "true"' }
inherits = ["firefox", "dev-env", "headless"]

[profiles.ci-no-regression]
description = "ci run on test env"
hidden = { if = 'environ.get("CI") != "true"' }
inherits = ["test-env", "firefox", "headless"]
excludes = ["regression"]
