paths = ["tests"]
name = "My RobotCode Example Tests"

[metadata]
"ANOTHER Metadata" = "Hallo Welt"
"CI Run" = {expr = "environ.get('CI', 'unknown')"}
"Architecture" = {expr = "platform.architecture()"}


[variables]
WEB_APP_URL = "localhost"

[profiles.webkit.extend-variables]
BROWSER = "webkit"

[profiles.firefox.extend-variables]
BROWSER = "firefox"

[profiles.chromium.extend-variables]
BROWSER = "chromium"

[profiles.test-env.extend-variables]
PORT = "3000"

[profiles.dev-env.extend-variables]
PORT = "3001"

[profiles.headless.extend-variables]
HEADLESS = "True"

[profiles.headfull.extend-variables]
HEADLESS = "False"

[profiles.webkit]
hidden = true

[profiles.firefox]
hidden = true

[profiles.chromium]
hidden = true

[profiles.test-env]
hidden = true

[profiles.dev-env]
hidden = true

[profiles.headless]
hidden = true

[profiles.headfull]
hidden = true

[profiles.default]
description = "default profile for all tests on local machine"
inherits = ["chromium", "headfull"]

[profiles.regression]
description = "headfull regression tests"
inherits = ["dev-env", "headfull"]
includes = ["regression"]

[profiles.local-test]
description = "headfull run on test env with firefox"
inherits = ["test-env", "firefox", "headfull"]
excludes = ["dev-env"]

[profiles.local-dev]
description = "headfull run on dev env with chrome"
inherits = ["dev-env", "chromium", "headfull"]
excludes = ["test-env"]

[profiles.ci]
description = "ci run on all envs"
enabled = { if = 'environ.get("CI") == "true"' }
inherits = ["webkit", "headless"]

[profiles.ci-test]
description = "ci run on test env"
hidden = { if = 'environ.get("CI") != "true"' }
inherits = ["test-env", "firefox", "headless"]
excludes = ["dev-env"]

[profiles.ci-dev]
description = "ci run on dev env"
hidden = { if = 'environ.get("CI") != "true"' }
inherits = ["dev-env", "webkit", "headless"]
excludes = ["test-env"]
